<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <div>
        <form method='post' action='/login'>
            <input type="text" name="username" id="username-login">
            <input type="password" name="password" id="password-login">

            <input type="submit" value="Log in">
        </form>
    </div>
</body>



</html>